---
import { getCollection } from "astro:content";

import Default from "@layouts/Default.astro";
import ProjectCardPhotos from "@components/ProjectCardPhotos.astro";

const projects = (await getCollection("projects")).sort((a: { data: { pubDate: number } }, b: { data: { pubDate: number } }) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

export const prerender = true;
---

<Default>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.map((project: any) => <ProjectCardPhotos project={project} />)}
    </div>
  </div>
</Default>
