---
import { getCollection } from "astro:content";

import Default from "@layouts/Default.astro";
import ProjectCardPhotos from "@components/ProjectCardPhotos.astro";

const projects = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Default>
  <div class="row m-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
    {projects.map((project) => <ProjectCardPhotos project={project} />)}
  </div>
</Default>
