---
export const prerender = false;

import Default from "@layouts/Default.astro";
import Navbar from "@components/Navbar.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";

import NowPlaying from "@components/NowPlaying.svelte";

import Card from "@components/Card.astro";

import { db, ContactForm } from "astro:db";
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const name = formData.get("name");
  const email = formData.get("email");
  const special = formData.get("special");
  const message = formData.get("message");
  const from = Astro.currentLocale;
  if (!special) {
    if (typeof name === "string" && typeof email === "string" && typeof message === "string") {
      await db.insert(ContactForm).values({ name, email, message, from });
    }
  }
}
---

<script>
  const tx = document.getElementsByTagName("textarea");
  for (let i = 0; i < tx.length; i++) {
    tx[i].setAttribute("style", "height:" + tx[i].scrollHeight + "px;overflow-y:hidden;");
    tx[i].addEventListener("input", OnInput, false);
  }

  function OnInput() {
    this.style.height = "auto";
    this.style.height = this.scrollHeight + "px";
  }
</script>

<Default title="Home" lang="en">
  <Navbar brand="casungo" home="Home" translate="Language" />
  <Card title="Contact Me">
    <form method="POST">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="name" class="form-label">Name and Surname</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name and surname" required />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required />
          </div>
        </div>
        <div class="mb-3 visually-hidden">
          <label for="special" class="form-label"> Special field</label>
          <input id="special" name="special" />
        </div>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" name="message" placeholder="Enter message" required></textarea>
      </div>
      <div class="mx-auto">
        <button type="submit" class="btn btn-primary btn-lg">Send</button>
      </div>
    </form>
  </Card>
  <NowPlaying client:idle title="Alessandro is listening to" by="by" notPlayingSomethingText="Normally you should see what I'm listening to on Spotify in real time, but now I'm not listening to anything :)" />
  <Footer text="This site is powered by Astro, Bootstrap & Cloudflare." />
</Default>
