---
export const prerender = false;

import Default from "@layouts/Default.astro";

import LoginLogout from "@components/navbar/LoginLogout.astro";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Default title="Admin panel">
  {
    session ? (
      <>
        <LoginLogout />
        <p>You are logged in as {session.user.name}.</p>
      </>
    ) : (
      <div>
        <p>You shoudn't be here :|</p>
      </div>
    )
  }
</Default>
