---
import Default from "@layouts/Default.astro";
import WYR from "@components/WYR.svelte";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Default title="Would you rather">
  <main class="container mx-auto p-4">
    {
      session ? (
        <WYR client:load />
      ) : (
        <>
          <p class="m-6">nuh uh</p>
        </>
      )
    }
  </main>
</Default>
