---
import { Icon } from "astro-icon/components";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

export const prerender = false;
---

<script>
  const { signIn, signOut } = await import("auth-astro/client");
  const loginButton = document.querySelector("#login") as HTMLElement;
  const logoutButton = document.querySelector("#logout") as HTMLElement;

  loginButton.onclick = () => signIn("google");
  logoutButton.onclick = () => signOut();
</script>

{
  session ? (
    <>
      <button id="login" class="hidden">
        Login with Google
      </button>
      <button id="logout" class="btn btn-primary btn-md">
        Logout
      </button>
    </>
  ) : (
    <>
      <button id="login" class="btn btn-primary flex items-center">
        <div class="text-xl">
          <Icon name="bxl:google" />
        </div>
        <span class="sm:hidden">Login with Google</span>
        <span class="hidden sm:inline">Login with Google</span>
      </button>
      <button id="logout" class="hidden">
        Logout
      </button>
    </>
  )
}
