---
import Default from "@layouts/Default.astro";
import Calculator from "@components/Calculator.svelte";
---

<Default title="E-Liquid Calculator">
  <main class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">E-Liquid Calculator</h1>
    <Calculator client:load />
  </main>
</Default>
