---
import { switchLocalePath } from "i18n:astro";
import { getLocale } from "i18n:astro";

const locale = getLocale();

const enPath = switchLocalePath("en");
const itPath = switchLocalePath("it");
---

<li>
  <a href={enPath} class={locale === "en" ? "active" : ""}>
    <div class="badge badge-outline">en</div>
    English
  </a>
</li>
<li>
  <a href={itPath} class={locale === "it" ? "active" : ""}>
    <div class="badge badge-outline">it</div>
    Italiano
  </a>
</li>
