---
import type { UiLang } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = (Astro.currentLocale || 'en') as UiLang;


const languages = [
  { code: "en", name: "English" },
  { code: "it", name: "Italiano" },
];

// Remove the current locale from the pathname
const currentPath = Astro.url.pathname.replace(`/${lang}`, "");
---

<ul>
  {
    languages.map(({ code, name }) => (
      <li>
        <a href={getRelativeLocaleUrl(code, currentPath)} class={lang === code ? "active" : ""}>
          <div class="badge badge-outline">{code}</div>
          {name}
        </a>
      </li>
    ))
  }
</ul>
