---
import { switchLocalePath, getLocale } from "i18n:astro";
import type { Locale } from "i18n:astro";

const locale = getLocale();

const languages: { code: Locale; name: string }[] = [
  { code: "en", name: "English" },
  { code: "it", name: "Italiano" },
];
---

<ul>
  {
    languages.map(({ code, name }) => (
      <li>
        <a href={switchLocalePath(code)} class={locale === code ? "active" : ""}>
          <div class="badge badge-outline">{code}</div>
          {name}
        </a>
      </li>
    ))
  }
</ul>
