---
import Socials from "./Socials.astro";
const { title, desc } = Astro.props;
---

<div class="card mb-3 mx-3">
  <h2 class="card-header">{title}</h2>
  <div class="card-body">
    <p class="card-text">{desc}</p>
    <Socials />
  </div>
</div>
