---
const { title, desc } = Astro.props;
---

<div class="card card-border border-base-300 m-6 bg-base-100">
  <div class="card-body">
    <h1 class="card-title">{title}</h1>
    <p>{desc}<slot name="desc" /></p>
    <slot />
  </div>
</div>
