---

---

<footer>
  <div class="card mx-auto my-3 border border-secondary">
    <div class="card-body">
      <p class="card-text">This site is powered by Astro, Bootstrap & Cloudflare.</p>
    </div>
  </div>
</footer>
