---
import { t } from "i18n:astro";
---

<div class="m-2">
  <footer class="footer footer-center bg-base-300 text-base-content p-4 rounded-box">
    <aside>
      <p>{t("footer.text")}</p>
      <a href="https://astro.build"><img src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width="120" height="20" /></a>
    </aside>
  </footer>
</div>
