---
import { getLocalePath } from "i18n:astro";
import { Icon } from "astro-icon/components";

import LanguageSelector from "@components/navbar/LanguageSelector.astro";
import ThemeSelector from "@components/navbar/ThemeSelector.svelte";

const homeLink = getLocalePath("/");
---

<div class="m-2">
  <div class="navbar bg-base-100 rounded-box">
    <div class="navbar-start">
      <a class="btn btn-ghost text-xl" href={homeLink}>casungo</a>
    </div>
    <div class="navbar-end">
      <ThemeSelector client:load />
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost">
          <div class="indicator">
            <Icon name="material-symbols:translate-rounded" />
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <LanguageSelector />
        </ul>
      </div>
    </div>
  </div>
</div>
