---

---

<nav class="navbar navbar-expand-md bg-body-secondary rounded my-3">
  <div class="container-fluid">
    <a class="navbar-brand me-2" href="../">casungo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex" id="navbar">
      <ul class="navbar-nav col-md-11 justify-content-md-center">
        <li class="nav-item">
          <a class="nav-link" href="../"><i class="bi bi-house"></i> Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
