---
import { Icon } from "astro-icon/components";
---

<div class="text-center">
  <a href="mailto:alessandro@casungo.top" class="btn btn-secondary"> <Icon class="text-2xl" name="material-symbols:mail-outline-rounded" /> Email</a>
  <a href="https://instagram.com/casungo" class="btn btn-secondary"> <Icon class="text-2xl" name="bxl:instagram" /> Instagram</a>
  <a href="https://github.com/casungo" class="btn btn-secondary"> <Icon class="text-2xl" name="bxl:github" /> Github</a>
</div>
