---
import "@styles/styles.css";
import { useTranslations } from "@i18n/utils";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

const { title, description } = Astro.props;
const lang = Astro.currentLocale as "en" | "it" | undefined;
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang || 'en'}>
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../../favicon.ico" type="image/x-icon" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="bg-base-200">
    <Navbar />
    <div class="container mx-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>
