---
const { title } = Astro.props;
---

<div class="card m-6 bg-base-300">
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 m-2">
      <slot />
    </div>
  </div>
</div>
