---
const { title } = Astro.props;
---

<div class="card mb-3 mx-3">
  <h2 class="card-header">{title}</h2>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
      <slot />
    </div>
  </div>
</div>
